{% extends 'base.html.twig' %}

{% block title %}Child index{% endblock %}

{% block body %}
    <h1>Child index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>NomComplet</th>
                <th>Adress</th>
                <th>Telephone</th>
                <th>Photo</th>
                <th>DateNais</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for child in children %}
            <tr>
                <td>{{ child.id }}</td>
                <td>{{ child.nomComplet }}</td>
                <td>{{ child.adress }}</td>
                <td>{{ child.telephone }}</td>
                <td>{{ child.photo }}</td>
                <td>{{ child.dateNais ? child.dateNais|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('child_show', {'id': child.id}) }}">show</a>
                    <a href="{{ path('child_edit', {'id': child.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('child_new') }}">Create new</a>
{% endblock %}
